{% load leaflet_tags %}
{% load render_bundle from webpack_loader %}
<html>
    <head>
        {% leaflet_js %}
        {% leaflet_css %}
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdn.rawgit.com/carlosrocha/react-data-components/master/css/table-twbs.css">
    </head>
    <body>
    <div>
{#    <h1>from https://github.com/leplatrem/django-leaflet-geojson</h1>#}
{#    <div style="height: 350px; width : 50%; float:left;">#}
        <style>
            .leaflet-container { height: 350px; width : 50%; float:left; }
        </style>
        {% leaflet_map "main" callback="main_map_init" %}

        <script type="text/javascript">
            function main_map_init (map, options) {
                var dataurl = '{% url "data" %}';
                // Download GeoJSON via Ajax
                $.getJSON(dataurl, function (data) {
                    // Add GeoJSON layer
                    L.geoJson(data).addTo(map);
                });
            }
        </script>
    </div>
    <div style="width: 50%; height: 350px; float:right;">
        <div id="root"></div>
    </div>
    <div style="width: 100%; height: 50%; clear:both">
        <div class="container"><div id="content"></div></div>
        {% render_bundle 'main' %}
    </div>
    <form method="post">

    {{ form.as_p }}

    <input type="submit" value="Submit" />
    </form>
  </body>
</html>